@charset "utf-8";
/* CSS Document */

body {
	width: 1000px;
	margin: 0 auto;
	padding: 0;
	background: #000000;
}
.content {
	position: relative;
	width: 980px;
	height: auto;
	z-index: 0;
	padding: 10px;
	background: #F6F6F6;
	font-family: tahoma, geneva, sans-serif;
	font-size: 13px;
}
.content a {
	color: #333399;
	text-decoration: none;
}
.content a:hover, a:active {
	text-decoration: underline;
}
h1 {
	margin-bottom: 0;
	font-size: 24px;
}
h2 {
	margin: 0;
	font-size: 18px;
}
h3 {
	margin-top: 24px;
	font-size: 16px;
}
h4 {
	margin: 0 0 4px 0;
	font-size: 14px;
}
table.noGrid {
  width: 100%;
  font-size: 12px;
  text-align: left;
  background: none;
  border-collapse: collapse;
}
table.noGrid tr {
  border-bottom: 1px solid #D5D5D5;
}
table.noGrid tr.head {
  font-weight: bold;
  vertical-align: bottom;
  border-bottom: 1px solid #000000;
}
table.noGrid td {
  margin: 0;
  padding: 3px;
  border: none;
}
table.withGrid {
  width: auto;
  margin-bottom: 25px;
  font-size: 12px;
  text-align: center;
  background-color: #ffffff;
  border-collapse: collapse;
}
table.withGrid tr.head {
  font-weight: bold;
  vertical-align: bottom;
  background-color: #e0e0e0;
}
table.withGrid td {
  margin: 0;
  padding: 3px;
  border: 1px solid #111111;
}
.logoCell {
  width: 20px;
}
.logoCell img {
  height: 20px;
  width: 20px;
  vertical-align: middle;
  border: none;
}

/* ------- Banner ------- */

#banContainer {
	position: relative;
	width: 1000px;
	height: auto;
	z-index: 1;
	margin: 0;
	padding: 0;
}
#banImg {
	width: 1000px;
	height: 152px;
	background: url('images/banner.jpg') no-repeat;
}
.logoContainer {
	position: absolute;
	top: 98px;
  width: 345px;
  height: 52px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: baseline;
}
.logoContainer.left {
  left: 45px;
}
.logoContainer.right {
  right: 45px;
}
.logoContainer img {
  flex-basis: auto;
	width: 50px;
	height: 50px;
	border: 1px solid #CCCCCC;
	background: #FFFFFF;
}

/* ------- Navigation Menu ------- */

#navMenu {
	width: 1000px;
	height: 35px;
  margin: 0;
	padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: baseline;
	background: #000000;
}
#navMenu li {
  flex: 1 0 auto;
  width: auto;
  height: 33px;
	margin: 1px 1px 1px 0;
	padding: 0;
	list-style: none;
	font-weight: bold;
	font-size: 12px;
	font-family: verdana, sans-serif;
  word-break: keep-all;
}
#navMenu li:last-child {
  margin-right: 0;
}
#navMenu li a {
	display: block;
	margin: 0;
	padding: 8px 10px;
	width: inherit;
  height: inherit;
  box-sizing: border-box;
	background: #161B68;
	color: #FFFFFF;
	text-align: center;
	text-decoration: none;
}
#navMenu li a:hover {
	background: #EEEEEE;
	color: #000000;
}
#navMenu div {
	position: relative;
  left: -1px;
	visibility: hidden;
	margin: 0;
	padding: 0;
	width: 100%;
	border: 1px solid black;
}
#navMenu div a {
	position: relative;
	display: block;
	margin: 0;
	padding: 4px 0;
	width: inherit; /* 100% */
	white-space: nowrap;
	text-align: left;
	text-indent: 4px;
	text-decoration: none;
	background: #434995;
	color: #FFFFFF;
	font: 11px arial;
}
#navMenu div a:hover {
	background: #EEEEEE;
	color: #000000;
}

/* ------- Home Page ------- */

.homePage {
	font-family: tahoma, geneva, sans-serif;
	font-size: 13px;
}
.homePage h1 {
	margin: 0;
	padding-left: 4px;
	height: 20px;
	background: url('images/heading.png') no-repeat;
	font-size: 13px;
	font-weight: bold;
  line-height: 17px; /* compromise between Firefox, Chrome, IE */
	color: white;
}
.boxContent {
	background-repeat: repeat-x;
	background-position: left bottom;
}
.boxContent p {
	margin: 0;
}
#tradesColumn {
	float: left;
}
#tradesColumn .boxContent {
	height: 153px;
	background-image: url('images/gradient150.png');
}
#tradesColumn .boxContent table {
	padding: 4px;
	width: 100%;
	text-align: center;
}
#offseasonTrades {
	margin-bottom: 5px;
	width: 326px;
	height: 173px;
}
#draftPicks {
	width: 326px;
	height: 172px;
}
#standings {
	margin-left: 5px;
	width: 326px;
	height: 350px;
	float: left;
}
#standings .boxContent {
	height: 330px;
	background-image: url('images/gradient300.png');
}
#standings .boxContent table {
	padding: 4px;
	width: 100%;
	text-align: left;
}
#standings .boxContent td {
	padding-bottom: 5px;
}
#standings .boxContent p {
	margin-top: 10px;
	font-size: 10px;
	text-align: center;
}
#twitterWidget {
	position: absolute;
	right: 5px;
	height: 350px;
	width: 328px;
}
#hyperlinks {
	margin-top: 5px;
	width: 990px;
	height: 20px;
	float: left;
	text-align: center;
	background-image: url('images/gradient20.png');
}

/* ------- Rules ------- */

.explanation {
	width: 90%;
	margin: 0 5% 10px 5%;
	padding: 10px;
	font-size: 0.9em;
	background-color: rgba(200,200,210,0.5);
	border: 1px solid rgb(140,140,150);
}
.explanation h4 {
	font-size: 13px;
}
.rulesTable {
	margin: 0 0 10px 5%;
	border-collapse: collapse;
}
.rulesTable tr.header {
	font-weight: bold;
	border-bottom: 1px solid black;
}
.rulesTable td {
	padding: 3px 6px;
	border: none;
}

/* ------- Roto Standings ------- */

.wkMenu {
	width: auto;
	margin: 20px 10px 24px 10px;
	padding: 5px 10px;
	background-color: #ffffff;
	border: 1px solid rgb(140,140,150);
}
.rotoStats {
	display: none;
}
.rotoStats.visible {
	display: block;
}
table.roto {
	margin-top: 20px;
	margin-bottom: 20px;
}
table.roto td {
	padding: 3px;
}
.oldTeamCell {
	text-align: left;
}
.oldTeamCell img {
	float: left;
	margin-right: 5px;
	height: 20px;
	width: 20px;
}

/* ------- Franchise History ------- */

.franchise {
	border-collapse: collapse;
	width: 100%;
	background-color: #FFFFFF;
	margin-bottom: 30px;
}
.franchise td {
	border: 1px solid black;
	text-align: center;
	padding: 3px;
}
.franchise img {
	float: left;
}

/* ------- Ownership History ------- */
.insetBox {
  padding: 10px;
  background-color: rgba(75, 75, 75, 0.1);
  box-shadow: 0 2px 6px 2px rgba(40, 40, 40, 0.1) inset;
}
.searchTool {
  margin: 5px 0;
}
form {
  display: inline;
}
.key {
  margin: 20px 0;
  font-size: 12px;
  font-style: italic;
}
